body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: filter-blur-in 2000ms linear 0ms 1 normal both;
   -moz-animation: filter-blur-in 2000ms linear 0ms 1 normal both;
   animation: filter-blur-in 2000ms linear 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_InlineFrame1
{
   border: 0px solid #FFB6C1;
   opacity: 0.40;
   margin: 0;
   box-shadow: 0px 0px 20px #FFB6C1;
   -webkit-animation: animate-fade-in-down 1000ms linear 0ms 1 normal both;
   -moz-animation: animate-fade-in-down 1000ms linear 0ms 1 normal both;
   animation: animate-fade-in-down 1000ms linear 0ms 1 normal both;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
}
#InlineFrame1
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #FFEFD5;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 75px;
   line-height: 103.5px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_Shape3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont1
{
   height: 88px;
   width: 88px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e050";
}
#IconFont1 i
{
   color: #FFB6C1;
   display: inline-block;
   font-size: 88px;
   line-height: 88px;
   vertical-align: middle;
   width: 87px;
}
#wb_IconFont1:hover i
{
   color: #FFE4E1;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont2
{
   height: 88px;
   width: 88px;
}
.IconFont2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont2:before
{
   content: "\e04f";
}
#IconFont2 i
{
   color: #FFB6C1;
   display: inline-block;
   font-size: 88px;
   line-height: 88px;
   vertical-align: middle;
   width: 87px;
}
#wb_IconFont2:hover i
{
   color: #FFE4E1;
}
